
body {
    padding-top: 54px;
}

@media (min-width: 992px) {
body {
    padding-top: 56px;
}
}

/* advert-base */
.search-container {
    padding: 5px;
    margin-bottom: 10px;
    background: #eaeade;
}

.search-select {
    height: 34px;
    position: absolute;
    top: 15px;
    right: 91px;
    border: #c1c1bb solid 2px;
}

.search-button {
    position: absolute;
    top: 13px;
    right: 14px;
}

/* advert list */
.advert-item-container {
    background: #f7f7ac;
    padding: 2px 4px;
    margin-bottom: 4px;
    border: 1px solid #cfca43;
}

.advertisement-image-container {
    padding: 5px 5px 10px 0px;
    object-fit: cover;
    overflow: hidden;
}

.advert-image {
    width: 98%;
} 