.profile-adverts-row {
    background: palegoldenrod;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

.nav-link.white {
    color:#f1df4d;;
    font-weight: bold;
}

nav.profile-nav {
    background: linear-gradient(#100f0f, #6a6c6f);
}

.nav.profile-nav.profile-nav:hover {
    background: #fff;
    box-shadow: #fff;
}

.profile-navbar--banner {
    background: linear-gradient(#343a40, #f8f9fa);
    height: 180px;
    margin-bottom: -63px;
    margin-top: -33px;
}

.edit-profile--header {
    background: linear-gradient(#100f0f, #6a6c6f);
    margin-top: -23px;
    color: #f3da3d;
}

.update-profile--form {
    padding: 10px 15px;
    background: palegoldenrod;
    margin-top: -10px;
}

.profile-picture {
    width: 100px;
    margin-left: -7px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
}

.profile-image-container {
    height: 200px;
    overflow: hidden;
    margin-top: 6px;
    max-width: 200px;
}

.profile-image-container:hover {
    
}

.profile-advert-title {
    background: silver;
    position: absolute;
    top: 15px;
    left: 20px;
    padding: 4px;
}
