{% extends  'admin/index.html' %}

{% block content %}
    <h2 class="p-3 shadow-sm border bg-white mt-2">Advertisements</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm" id="adminTable">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>created</th>
            <th>description</th>
            <th>votes</th>
            <th>status</th>
            <th>edit</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          {% for advert in data %}
          <tr>
            <td>{{ advert.id }} </td>
            <td>{{ advert.title }}</td>
            <td>{{ advert.create_time }}</td>
            <td>{{ advert.description }}</td>
            <td>{{ advert.votes }}</td>
            <td>{{ advert.status }}</td>
            <td>
              <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#editModalCenter_{{ advert.id }}">Edit</button>
            </td>
            <td>
              <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModalCenter_{{ advert.id }}">Trash</button>
            </td>
          </tr>

          <!-- update modal -->
          <div class="modal fade" id="editModalCenter_{{ advert.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update Advertisement - {{ advert.id }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form name="message_form" class="message_form" method="POST" action="/admin/advert/update">
                  <div class="modal-body">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" name="title" placeholder="add article here..." value="{{ advert.title }}" required><br>
                        </div>
                        <input type="hidden" name="post_id" value={{ advert.id }}>
                        <div class="form-group">
                            <label for="name">Description</label>
                            <textarea type="text" class="form-control" name="description" required>{{ advert.description }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="name">Category ID</label>
                            <select name="category_id" class="form-control" value={{ advert.category_id }}>
                                {% for category in categories %}
                                    <option value={{ category.id }}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm float-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Update Advert</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- delete modal -->
          <div class="modal fade" id="deleteModalCenter_{{ advert.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete advertisement? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form name="message_form" class="message_form" method="POST" action="/admin/advert/delete">
                    <input type="hidden" name="advert_id"  value={{ advert.id }} />
                    <div class="modal-body">
                        <div class="p-2">
                          <span class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</span>
                          <input type="submit" class="btn btn-danger btn-sm float-right" value="Delete">
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}