{% extends  'admin/index.html' %}

{% block content %}
    <h2 class="p-4">User Messages</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm" id="adminTable">
        <thead>
          <tr>
            <th>id</th>
            <th>sender id</th>
            <th>receiver id</th>
            <th>message</th>
            <th>time sent</th>
            <th>delivered</th>
            <!--<th>edit</th>
            <th>delete</th> -->
          </tr>
        </thead>
        <tbody>
          {% for message in data %}
          <tr>
            <td>{{ message.id }} </td>
            <td>{{ message.user_from }}</td>
            <td>{{ message.user_to }}</td>
            <td>{{ message.message }}</td>
            <td>{{ message.time_sent }}</td>
            <td>{{ message.seen }}</td>
            <!--<td>
              <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#editModalCenter_{{ message.id }}">Edit</button>
            </td>
            <td>
              <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModalCenter_{{ message.id }}">Trash</button>
            </td>-->
          </tr>

          <!-- update modal -->
          <div class="modal fade" id="editModalCenter_{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update message - {{ advert.id }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form" method="POST" action="/admin/messages">
                    <input type="hidden" name="message_id"  value={{ message.id }}>
                    <div class="form-group">
                      <label for="">Message</label>
                      <textarea name="message" class="form-control" required>
                        {{ message.message }}
                      </textarea>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- delete modal -->
          <div class="modal fade" id="deleteModalCenter_{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete message? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form name="message_form" class="message_form" method="POST" action="/admin/messages/delete">
                    <input type="hidden" name="message_id"  value={{ message.id }} />
                    <div class="modal-body">
                        <div class="p-2">
                          <span class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</span>
                          <input type="submit" class="btn btn-danger btn-sm float-right" value="Delete">
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}