{% extends  'admin/index.html' %}

{% block content %}
    <h2 class="p-4">All Users 
        <button class="btn btn-sm float-right btn-primary" data-toggle="modal" data-target="#createUserModalCenter">Create User</button>
    </h2>

    <!-- Create user modal -->
    <div class="modal fade" id="createUserModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Create new user</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="form border p-2 shadow-sm bg-light" method="post" action="/admin/users" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="username..." required>
                </div>
                <div class="form-group">
                    <label for="userRole">User Role</label>
                    <select name="userRole" required class="form-control">
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" name="firstName" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" name="lastName" required>
                </div>
                <div class="form-group">
                    <label for="username">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <label for="username">Repeat Password</label>
                    <input type="password" class="form-control" name="password2" placeholder="repeat password" required>
                </div>
                <div class="border p-2 bg-white rounded">
                    <button type="submit" class="btn btn-primary">
                        Sign Up
                    </button>
                    
                    <button class="btn btn-secondary float-right" onclick="document.location='/advert';">
                        Cancel
                    </button>
                </div>
            </form>
          </div>
        </div>
      </div> <!-- end modal -->

    <div class="table-responsive">
      <table class="table table-striped table-sm" id="adminTable">
        <thead>
          <tr>
            <th>id</th>
            <th>username</th>
            <th>role</th>
            <th>first name</th>
            <th>last name</th>
            <th>joined</th>
            <th>email</th>
            <th>status</th>
            <th>edit</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          {% for user in data %}
          <tr>
            <td>{{ user.id }} </td>
            <td>{{ user.username }}</td>
            <td>{{ user.userRole }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.memberSince }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
            <td>
              <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#editModalCenter_{{ user.id }}">Edit</button>
            </td>
            <td>
              <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModalCenter_{{ user.id }}">Trash</button>
            </td>
          </tr>

          <!-- update modal -->
          <div class="modal fade" id="editModalCenter_{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update User - {{ user.username }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form name="message_form" class="message_form" method="POST" action="/admin/users/update">
                  <div class="modal-body">
                    <input type="hidden" name="username" value={{ user.username }}>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" disabled name="user" value={{ user.username }} required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" value={{ user.email }} required>
                    </div>
                    <div class="form-group">
                        <label for="userRole">Role</label>
                        <select name="userRole" required class="form-control">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="userRole">Account status</label>
                        <select name="status" required class="form-control">
                            <option value=0>Suspended</option>
                            <option value=1>Active</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" name="firstName" value="{{ user.first_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" name="lastName" value="{{ user.last_name }}" required>
                    </div>
                    <input type="hidden" name="user_id" value={{ user.id }}>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm mr-4" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm ml-4">Update User</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- delete modal -->
          <div class="modal fade" id="deleteModalCenter_{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete user? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form name="message_form" class="message_form" method="POST" action="/admin/users/delete">
                    <input type="hidden" name="user_id"  value={{ user.id }} />
                    <input type="hidden" name="username"  value={{ user.username }} />
                    <div class="modal-body">
                        <div class="p-2">
                          <span class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</span>
                          <input type="submit" class="btn btn-danger btn-sm float-right" value="Delete">
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}