{% extends  'advert_base.html' %}

{% block content %}
    {{ parent() }}

      <h1 class="my-4">
        Thread for {% for user in current_user %}{{ user.username }}{% endfor %}
      </h1>

      {% for message in data %}

      <!-- Single Advertisement -->
      <div class="p-2 bg-light mb-4 border">
        <p>{{ message.message }}</p>
        <div class="p-2 font-weight-bold">
          <small>{{ message.time_sent }} by {{ message.user_to }}</small>
        </div>
      </div>

      {% endfor %}

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>
    
{% endblock %}

{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}