<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AdShare - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />

    

    <!-- Custom styles for this template -->
    <link href="/css/adverts-home.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="shadow navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="border-bottom: 5px solid #cec943;">
      <div class="container">
        <a class="navbar-brand" href="/">Adshare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a href="/message/all/1" class="nav-link">Messages 
                  <span class="badge badge-danger message_badge">0</span>
                </a>
              </li>
            <li class="nav-item">
                <a href="/message/all/1" class="nav-link">Notifications 
                  <span class="badge badge-danger notifications_badge">0</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--
      <div class="container">
        <div class="mt-2 mb-1">
            {% if messages %}
            {% for message in  messages %}
            <div class="alert alert-success">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    -->

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-3">
          <div class="mt-4 card shadow-sm">
            <div class="card-body p-1">
              <div class="shadow-sm border p-2 mb-4" style="">
                <div class="user-bio-container" style="height:110px;">
                  <div class="">
                    <div class="username-container p-1 font-weight-bold">User Name {{ current_user[0]['username']  }}</div>
                    <div class="postcount-container p-1"><small>Joined: {{ date }}</small></div>
                    <div class="postcount-container p-1"><small>21 posts</small></div>
                  </div>
                </div>
              </div>
              <div>
                  <small class="">
                    <a href="/advert/favourites/1" class="p-0">Favourited: &#128156; 0</a>
                  </small>
                  <button href="#" class="btn btn-sm btn-success float-right shadow" onclick="document.location='/advert/create';">Create New Advert</button>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4 shadow-sm">
            <h6 class="card-header font-weight-bold">Product Categories</h6>
            <div class="card-body p-1"> 
              <div class="row">
                <div class="col-sm-6">
                  <ul class="list-unstyled mb-0 ml-2">
                    {% block category %}
                      
                    {% endblock %}
                  </ul> 
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4 shadow-sm">
            <h6 class="card-header font-weight-bold">About AdShare</h6>
            <div class="text-sm p-2">
              <ul style="margin-left: -14px;">
                <li>Kisii University Students are welcome to sell their items here.</li>
                <li>No stolen item shall be allowed.</li>
                <li>Kindly report an items of theft.</li>
                <li>Do not send money for the item until you see item.</li>
                <li> Use the messaging feature to communicate with the seller/buyer.</li>
              </ul>     
            </div>
          </div>
        </div>

        <div class="col-md-9 bg-light border p-2 mt-4 shadow">
          <div class="search-container">
            <form class="form" action="/search" method="POST">
              <input type="text" name="query" placeholder="What are you looking for..." class="form-control">
              <select value="advertisements" class="search-select">
                <option value="advertisements">Adverts</option>
                <option value="users">Users</option>
              </select>
              <button type="submit" class="search-button btn shadow btn-md btn-default border">Search</button>
            </form>
          </div>
        {% block content %}
        
        {% endblock %}
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="mt-4 py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/growl/javascripts/jquery.growl.js" type="text/javascript"></script>

    <script>
      $(document).ready(function(){

        // Set messages and notifications on each load
        $.ajax({
          url: "/notifications",
          type: "POST",
          data: { 
            user_to: 1
          },
  
          // handle a successful response
          success: function(data) {
            console.log('Success', data);
            $('.notification_badge').text(data);
            // $.growl.notice({ title: "Success", message: "Notifications fetched" });
          },
  
          error: function(xhr, errmsg, err) {
            console.log('notifications error');
            $.growl.error({ message: "Error fetching notifications message" });
            
          }
      });


        {% block domready %}

        {% endblock %} 
      });

    </script>
    
  </body>

</html>
