{% extends 'base.html' %}
{% block content %}
    <div class="container">
      {{ parent() }}
    </div>

    {% for article in data %}
      <div class="container">
      <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">  
      <div class="article">
        <div class="article-header">
          <div class="article-avatar">
            <img class="img img-circle" src="/uploads/avatars/avatar3.png" 
            alt="{{article.author}}">
            <span class="article-author">{{article.author}}</span>
          </div>
          <div class="article-time">
              <span class="article-time{{loop.index}}">
                {{article.timePosted}} <!-- holds the place as moment loads -->
                <script type="text/javascript">
                    $(function(){
                      $('.article-time{{loop.index}}').html(moment.unix({{ article.timePosted | date('U') }})
                      .local()
                      .fromNow());
                    });
                  </script>
                </span>
          </div>
        </div> <!-- end class "article-header" -->
        <hr class="article-header-body-separator">

        <div class="article-body">
          <p class="article-text text-large">
            {{article.body}}
          </p>
        </div>

        {% if article.type is not null %}
           {% if article.type == "image/jpeg" or "image/png" or "image/jpg" %}
            <div class="article-media article-picture">
              <img src="{{ article.path }}" title="">
            </div>
           {% elseif article.type == "video/mp4" %}
           <div class="article-media article-video">
              <video src="{{ article.path }}"  class="pull-left" controls="play">
           </div>
           {% endif %}
           <div class="article-reaction">
            <button class="btn btn-default btn-link">   
              <a href="/update/{{article.id}}">update</a>
            </button>
            <button class="btn btn-default btn-link ">
              <a href="#" onclick="confirm('sure to continue?');">delete</a>
            </button>
            <button class="btn btn-default" id="likebutton{{loop.index}}">Like</button>
            <button class="btn btn-default" id="dislikebutton{{loop.index}}">Dislike</button>
          </div>

        {% else %}

          <div class="article-reaction">
            <button class="btn btn-default btn-link">   
              <a href="/update/{{article.id}}">update</a>
            </button>
            <button class="btn btn-default btn-link">
              <a href="#" onclick="confirm('sure to continue?');">delete</a>
            </button>
            <button class="btn btn-default" id="likebutton{{loop.index}}">Like</button>
            <button class="btn btn-default" id="dislikebutton{{loop.index}}">Dislike</button>
          </div>

        {% endif %}

        </div> <!-- close class article-->
        </div> <!-- col-md-8 -->
        <div class="col-md-2">
        </div>
        </div> <!-- class row -->
        </div>
    {% endfor %}
    
{% endblock %}
