{% extends  'base.html' %}
{% block content %}
{{ parent() }}
  <form class="form-group" method="post" action="/update">
    <label for="input">Update the Article</label>
    <input class="form-control" type="text" name="body" value="{{body}}"><br>
    <input type="hidden" name="id" value="{{id}}">
    <input type="submit" value="Update">
  </form>
{% endblock %}
