<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AdShare - Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />

    

    <!-- Custom styles for this template -->
    <link href="/css/adverts-home.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Adshare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/auth/signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-4"></div>

        <div class="col-md-4">
        {% block content %}
        
        {% endblock %}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4"></div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/growl/javascripts/jquery.growl.js" type="text/javascript"></script>

    <script>
      $(document).ready(function(){

        // Set messages and notifications on each load
        $.ajax({
          url: "/notifications",
          type: "POST",
          data: { 
            user_to: 1
          },
  
          // handle a successful response
          success: function(data) {
            console.log('Success', data);
            $('.notification_badge').text(data);
            // $.growl.notice({ title: "Success", message: "Notifications fetched" });
          },
  
          error: function(xhr, errmsg, err) {
            console.log('notifications error');
            $.growl.error({ message: "Error fetching notifications message" });
            
          }
      });


        {% block domready %}

        {% endblock %} 
      });

    </script>
    
  </body>

</html>
