{% extends "auth/base.html" %}

{% block content %}
    <div class="row">

        <div class="col-12" style="margin-top:120px;"></div>

        <div class="col-12 mt-4">
            <form class="form border p-2 shadow p-3" method="post" action="/auth/login" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username" class="font-weight-bold">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="username..." required>
                </div>
               
                <div class="form-group">
                    <label for="username" class="font-weight-bold">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>
                
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary form-control">
                        Login
                    </button>   
                </div>

                <div class="mt-2 shadow-sm p-2 font-weight-bold">Don't have an account? <a href="/auth/signup">Sign Up</a></div>
            </form>
        </div>

    </div>
{% endblock %}

{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}

