{% extends  'layout/profile_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 mt-4">
            <p class="edit-profile--header pl-3 pt-2 pb-2 font-weight-bold">My Profile</p>
            {% for user in current_user %}
                <form name="edit-profile--form" class="update-profile--form shadow-sm border" method="POST" action="/profiles/update">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" value={{ user.username }} required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" value={{ user.email }} required>
                    </div>
                    <input type="hidden" name="userRole" value={{ user.userRole }}>
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" name="firstName" value="{{ user.first_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" name="lastName" value="{{ user.last_name }}" required>
                    </div>
                    <input type="hidden" name="user_id" value={{ user.id }}>
                    <button type="submit" class="btn btn-primary form-control">Save changes</button>
                </form>
            {% endfor %}
        </div>
        <div class="col-8">
            <nav class="profile-nav">
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link white">My Ads</a></li>
                </ul>
            </nav>
            <div class="row profile-adverts-row border">
                {% for advert in user_adverts %}
                <div class="col-4">
                    <div class="profile-advert">
                        <p class="profile-image-container">
                            <img src="{{ advert.path }}" alt="advert image" class="profile-image">
                        </p>
                        <p class="profile-advert-title">{{ advert.title }}</p>
                        <p class="profile-advert">{{ advert.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block domready %}
/*
    $('#avatar_form').on('submit', function(e) {
        e.preventDefault();
        var file_data = $('#avatar_picture').prop('files')[0];   
        var form_data = new FormData();                  
        form_data.append('file', file_data);
        form_data.append('user_id', {{ current_user[0].id }})
        alert(form_data);                             
        $.ajax({
            url: '/profiles/update/avatar', // point to server-side PHP script 
            dataType: 'json',  // what to expect back from the PHP script, if anything
            cache: false,
            contentType: false,
            processData: false,
            data: form_data,                         
            type: 'post',
            success: function(php_script_response){
                alert(php_script_response); // display response from the PHP script, if any
            },
            error: function(xhr, error) {
                alert(error); // display error
            }
        });
    }); */
{% endblock %}
