{% extends  'advert_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="p-2 text-center bg-light shadow-sm">
                <h4 class="text-secondary">Create new advertisement</h4>
            </div>
            <form class="form border p-2 bg-white" method="post" action="/advert/create/new" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="title" placeholder="add article here..." required><br>
                </div>
                <div class="form-group">
                    <label for="image">Upload File(optional)</label>
                    <input type="file" name="path" value="Upload">
                </div>
                <div class="form-group">
                    <label for="name">Description</label>
                    <textarea type="text" class="form-control" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="name">Category ID</label>
                    <select name="category_id" class="form-control">
                        {% for category in categories %}
                            <option value={{ category.id }}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="p-1 bg-white">
                    <button type="submit" class="btn btn-primary">
                        Sell Item
                    </button>
                    
                    <button class="btn btn-secondary float-right" onclick="document.location='/advert';">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}
