{% extends  'layout/detail_base.html' %}

{% block content %}
    {{ parent() }}

    <div class="">

      {% for advert in data %}

      <h3 class="my-4 font-weight-bold p-2">
        {{ advert.title }}
      </h3>

      <!-- Single Advertisement -->
      <div class="card mb-4" style="border:none;">
        {% if advert.path == "path/title/photo.png" %}
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        {% else %}
            <img class="card-img-top" src="{{ advert.path }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ advert.description }}</p>
          <div class="mt-2 p-1">
            <button type="button" 
                    class="btn btn-info shadow btn-sm" 
                    data-toggle="modal" 
                    data-target="#messageModalCenter"
            >
              E-mail
            </button>

            <button class="btn btn-sm">
                &#128156; {{ advert.votes }}
            </button>
            <div class="dropdown float-right">
                <!-- split secondary button -->
                <div class="btn-group dropleft">
                  <button type="button" class="btn btn-success btn-sm">Actions</button>
                  <button type="button" 
                          class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split" 
                          data-toggle="dropdown" 
                          aria-haspopup="true" 
                          aria-expanded="false"
                  >
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/advert/update/{{ advert.id }}">Edit Post</a>
                    <a class="dropdown-item" href="#">Remove</a>
                    <a class="dropdown-item" href="#">Report</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted {{advert.create_date|date}}
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="messageModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">E-mail User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form name="message_form" class="message_form" method="POST" action="/message">
              <div class="modal-body">
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea cols="4" class="form-control mb-4 message_text" name="message_text"></textarea>
                    <span>
                      <small class="bg-light p-2 shadow-sm text-danger">Don't forget your contact details details</small>
                    </span>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary btn-sm" value="Send Message">
              </div>
            </form>
          </div>
        </div>
      </div>




      {% endfor %}
    
    </div>
{% endblock %}

{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}

{% block domready %}
  function send_message() {
    console.log("Sending Message");
    $.ajax({
        url: "/message",
        type: "POST",
        data: { 
          message: $('.message_text').val(),
          user_from: 1,
          user_to: 2
        },

        // handle a successful response
        success: function(data) {
          $('.message_text').val('');
          console.log(data);
          console.log("comment success");
          
          $.growl.notice({ title: "Success", message: "Message sent!" });
          $('#messageModalCenter').modal('hide');
        },

        error: function(xhr, errmsg, err) {
          console.log('comment error');
          $.growl.error({ message: "Error sending message" });
          $('#messageModalCenter').modal('hide');
          
        }
    });
  };


  /* AJAX form submission */
  $('.message_form').on('submit', function(e) {
    e.preventDefault();
    
    send_message();
  });


{% endblock %}