{% extends  'advert_base.html' %}

{% block content %}
    {{ parent() }}

      {% for advert in data %}
      <div class="col-12 p-1">
          <div class="row bg-light shadow-sm border" 
            style="margin-right: -8px;
                   margin-left: -8px;"
          >
            <div class="col-12 col-sm-3" style="padding: 2px;">
              <a href="/advert/{{ advert.id }}">
                {% if advert.path %}
                    <img src="{{ advert.path }}" class="w-100" style="">
                {% else %}
                    <img src="http://via.placeholder.com/300x400" class="w-100" style="">
                {% endif %}
              </a>
              </div> <!-- row -->
              <div class="col-12 col-sm-9 pt-2">
                <a href="/advert/detail/{{ advert.id }}">
                  <small class="text-dark text-lg d-block font-weight-bold">{{ advert.title }}</small>
                </a>
                <small class="d-block mt-2"><span class="text-secondary">Posted: </span> {{ advert.created_time }}</small>
                <blockquote>
                  <small>{{ advert.description }}</small>
                </blockquote>
                <div class="w-100 p-2">
                  <a href="/advert/detail/{{ advert.id }}">
                    <button class="btn btn-default btn-sm">Check item</button>
                  </a>
                  <button class="float-right shadow">
                    <small>Favourites: </small> {{ advert.votes }}
                  </button>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>
    
{% endblock %}


{% block category %}
    {% for category in categories %}
      <li><a href="#">{{ category.name }}</a></li>
    {% endfor %}
{% endblock  %}