<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AdShare - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />

    

    <!-- Custom styles for this template -->
    <link href="/css/adverts-home.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow" style="border-bottom: 5px solid #cec943;">
      <div class="container">
        <a class="navbar-brand" href="/">Adshare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a href="/message/all/1" class="nav-link">Messages 
                  <span class="badge badge-danger message_badge">0</span>
                </a>
              </li>
            <li class="nav-item">
                <a href="/message/all/1" class="nav-link">Notifications 
                  <span class="badge badge-danger notifications_badge">0</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profiles/mark">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   <!-- Flash messages -->
   {% if messages %}
    <div class="container" style="">
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success: </strong> {{ message[0] }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-2">
            <div class="mt-4">
                <button class="btn btn-primary shadow" 
                        onclick="document.location='http://localhost:8000/advert';"
                >
                  Back
                </button>
            </div>
        </div>
        <div class="col-sm-6 bg-light border mt-4 shadow">
        {% block content %}
        
        {% endblock %}
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4 shadow-sm">
            <h5 class="card-header font-weight-bold">Comments</h5>
            <div class="card-body p-2">
              <form class="form" action="/advert/{{ data[0]['id'] }}/comment" method="POST">
                <div class="form-group">
                  <textarea
                      name="comment"
                      class="form-control"
                  >How is this item?</textarea>
                </div>
                <button 
                    type="submit"
                    class="btn btn-sm shadow btn-success float-right"
                >
                  Add comment
                </button><br>
              </form>
              <div class="mt-3">
                <h4 class="font-weight-bold bg-light p-2 shadow-sm text-success border-top">
                  <small>Available comments:</small>
                </h4>
                <div class="comment-container">
                  {% if comments %}
                    {% for comment in comments %}
                      <div class="comment-comment">
                        <small>{{ comment.text }}</small></br>
                        <small class="text-secondary">{{ comment.create_time }} by {{ comment.author }}</small> 
                      </div>
                    {% endfor %}
                  {% else %}
                      <div class="p-3 text-secondary font-weight-bold">
                        <small>No comments available.</small>
                      </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4 shadow-sm">
            <h5 class="card-header font-weight-bold">Available Categories</h5>
            <div class="card-body"> 
              <div class="row">
                <div class="col-sm-6">
                  <ul class="list-unstyled mb-0">
                    {% block category %}
                      
                    {% endblock %}
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="mt-4 py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/growl/javascripts/jquery.growl.js" type="text/javascript"></script>

    <script>
      $(document).ready(function(){

        // Set messages and notifications on each load
        $.ajax({
          url: "/notifications",
          type: "POST",
          data: { 
            user_to: 1
          },
  
          // handle a successful response
          success: function(data) {
            console.log('Success', data);
            $('.notification_badge').text(data);
            // $.growl.notice({ title: "Success", message: "Notifications fetched" });
          },
  
          error: function(xhr, errmsg, err) {
            console.log('notifications error');
            $.growl.error({ message: "Error fetching notifications message" });
            
          }
      });


        {% block domready %}

        {% endblock %} 
      });

    </script>
    
  </body>

</html>
